<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <ul>
    <% @tags.each do |t| %>
      <li>
        <%= check_box_tag "tags[#{t.id}]", true, @photo.tags.include?(t) %>
        <%= t.name %>
      </li>
    <% end %>
  </ul>

  <h3>Comments</h3>

  <%= f.fields_for :comments do |ff| %>
    <p>Title: <%= ff.text_field :title %></p>
    <p>Body: <%= ff.text_area :body %></p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
