<h1>Edit Tags for <%= @photo.name %></h1>

<%= form_tag update_tags_photo_path do %>
  <ul>
    <% @tags.each do |t| %>
      <li>
        <%= check_box_tag "tags[#{t.id}]", true, @photo.tags.include?(t) %>
        <%= t.name %>
      </li>
    <% end %>
  </ul>

  <%= submit_tag "Save Tags" %>
<% end %>

<p><%= link_to "Back to Photos", photos_path %></p>
